@model IEnumerable<LaptopStore.Models.LaptopCharger>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wattage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Connector)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quality)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Wattage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Connector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quality)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChargerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChargerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChargerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
